.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 25rem;
  background-color: white;
  height: 2.75rem;
  box-sizing: border-box;
  color: black;
  position: relative;
  width: 80%;
}

.search-books {
  border: 0;
  display: inline-block;
  background-color: transparent;
  font-weight: 700;
  color: gray;
  text-align: left;
  width: 29.25rem;
  height: 2rem;
  margin: 0 2rem;
}

.icon {
  margin-left: 2rem;
}


.searchResult {
  height: 20vh;
  z-index: 300;
  position: absolute;
  background-color: white;
  padding: 2rem;
  overflow: auto;
  top: 5rem;
  width: 30%;
  margin: 0 auto;
  border-radius: 1rem;
}

.searchResultButton{
  color: black;
  background-color: white;
  border: none;
  text-align: left;
  font-size: 1rem;
  margin:0.3rem 0;
}

.searchResultButton a{
  text-decoration: none;
}
