.booksDisp {
  display: flex;
  width: 90rem;
  margin: 2rem auto;
  flex-wrap: wrap;
  gap: 2rem;
  border: 2px solid;
}

.book {
  display: flex;
  width: 20%;
  margin: 0.5rem auto;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 18px;
  background: #e6e9d9;
  box-shadow: 28px 28px 56px #d8dbcc, -28px -28px 56px #f4f7e6;
 /*  overflow: hidden; */

}

.bookImg {
  width: 100%;
  height: 40%;
  border-radius: 18px 18px 0 0;
  object-fit: fill;
  object-position: center;
  /* margin-top: 1rem;
  border: 2px solid; */
}

.bookcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 16rem;
  align-items:center;
 
  gap: 0;
}

/* .bookcard h4,
.bookcard p {
  margin: 1rem;
} */

.book button {
  cursor: pointer;
  width: 6rem;
 
 
  border: 1px solid darkgray;
padding: 1rem;
  background-color: rgb(159, 230, 159);

  border-radius: 1rem;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
}

.book .authorName{
  list-style: none;
}

.book button a {
  color: #5b5e4c;
  font-size: 1rem;
  text-decoration: none;
}

.book button a::after {
  color: #5b5e4c;
}

.book button:hover {
  background-color: #5b5e4c24;
}

.book button a:hover {
  color: white;
}
