.bookInfo{
width: 80%;
margin: 0 auto;

}

.bookInfoDetail{
    box-shadow: 2px 1px 10px 5px rgb(64, 62, 62);
    width: 60%;
    margin: 7rem auto;
  background-color: #000;
  display: flex;
 
 color: white;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
 
    padding: 3rem;
    position: relative;
}

.bookInfoDetail::before{
    content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 100%;
  height: 110%;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.bookInfoDetail::after{
    content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.bookInfoDetail:hover::after {
    filter: blur(30px);
  }
  
  .bookInfoDetail:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
  

.bookInfoAddtoCart{
    --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  margin-top: 6rem;
  box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.bookInfoAddtoCart:hover{
    background-position: right top;
}

.bookInfoAddtoCart:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
  }