 .social-icon-linkedIn {
    margin-right: 10px;
    font-size: 30px;
    color: #008eda; 
  }

  .social-icon-faceBook {
    margin-right: 10px;
    font-size: 30px;
    color: #0396f1; 
  }

  .social-icon-twitter {
    margin-right: 10px;
    font-size: 30px;
    color: #45c1ff; 
  } 